@import 'tailwindcss';

@layer base {
  html,
  body,
  #root {
    @apply h-full w-full overflow-hidden bg-zinc-900;
  }
  button {
    @apply cursor-pointer;
  }
}

@layer utilities {
  .shadow-up {
    @apply shadow-[0px_-10px_10px] shadow-black/25;
  }
  .shadow-down {
    @apply shadow-[0px_10px_10px] shadow-black/25;
  }

  .tooltip {
    @apply relative;
  }
  .tooltip-text {
    @apply invisible absolute top-full right-0 rounded-md bg-zinc-800 px-2 py-0.5 text-base text-nowrap text-white;
  }
  .tooltip:hover .tooltip-text {
    @apply visible;
  }
}

@theme {
  --color-offwhite: #dedede;
  --font-sans: 'Roboto', sans-serif;
}
